<h1>Chat App: OTP for, <%= @user.name %>!</h1>
<p>Your Signup is successful. Use the provided OTP to verify your account.</p>
<div>
    <p>
    <strong>Your OTP: </strong>
    <%= @otp%>
    </p>
    <p>
    <strong>Your OTP expires at: </strong>
    <%= @expires_at%>
    </p>
</div>